.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.technology-details-container {
  border-radius: 10px;
}
.technology-name {
  color: #171f46;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto';
}
.technology-details {
  color: #64748b;
}
.imgUrl {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
