* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.list-container {
  background-color: #f4faff;
  background-size: cover;
}
.title {
  color: #171f46;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
}
.title-description {
  color: #64748b;
  font-size: 12px;
  font-family: 'Roboto';
}
